:root {

    --clr-primary: #B2915A;
    --clr-neutral: #272727;
    --clr-white: #fff;
    --clr-section-bg: #EFE9E2;
    --clr-navbar-text: var(--clr-white);
    --clr-navbar-bg: #906c34;


    --ff-logo: 'Bitter', serif;
    --ff-title: serif;
    --ff-navbar: 'Montserrat', sans-serif;
    --ff-body: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

:is(ul, ol):not([role=list]) {
    list-style: none;
    padding: 0;
    margin: 0;
}

img, picture, object {
    display: block;
}

a:not([role=link]) {
    text-decoration: none;
}

a {
    color: currentColor;
}

.title {
    font-family: var(--ff-title);
    text-transform: uppercase;
}




body {
    margin: 0;
    min-height: 100vh;
    font-family: var(--ff-body);
    background-color: var(--clr-section-bg);
    line-height: 1.25;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .75em 2em;
    font-family: var(--ff-navbar);
    background-color: var(--clr-navbar-bg);
    color: var(--clr-navbar-text);
    text-transform: uppercase;
}


.logo {
    font-family: var(--ff-logo);
    font-size: 2rem;
    font-weight: 900;
}

ul.navigation {
    font-size: 1.25rem;
    display: flex;
    gap: 1em;
}

section.home {
    height: 100vh;
    display: grid;
    grid-template-areas: "stack";
    place-items: center;
    overflow: hidden;
}

section.home > * {
    grid-area: stack;
}

section.home > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.home > .title-container {
    color: var(--clr-white);
}

section.home > .title-container h1.title {
    font-size: 3.75rem;
    max-width: 14ch;
    text-align: center;
}


section.home > .title-container h3.subtitle {
    font-size: 2em;
    text-align: center;
}

section.services {
    display: grid;
    gap: 5rem;
    padding-bottom: 5rem;
}


section.services > h1.title {
    font-size: 3.125rem;
    padding: .5em;
    color: var(--clr-primary);
    background-color: var(--clr-neutral);
    text-align: center;
}

section.services > .services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-inline: 5rem;
    gap: 2rem;
    align-items: flex-start;
}

section.services .service {
    display: grid;
    gap: 1em;
    text-align: center;
    padding-block-end: 1em;
    background-color: var(--clr-neutral);
}

section.services .service:nth-of-type(2n) {
    margin-block-start: 6rem;
}


section.services .service > img {
    width: 100%;
    aspect-ratio: 1;
}

section.services .service > h4.title {
    color: var(--clr-primary);
}

section.services .service > p.description {
    color: var(--clr-white);
    width: 23ch;
    margin: auto;
}



section.packages > h1.title {
    font-size: 4rem;
    padding: .5em;
    text-align: center;
    background-color: var(--clr-navbar-bg);
    color: var(--clr-section-bg);
}

section.packages > .boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    align-items: center;
    padding-block: 8.75rem 4.375rem;
    margin-inline: 2em;
}

section.packages .boxes > .box {
    padding: 2em;
    border: 1px solid;
}

section.packages .box > h3.title {
    font-size: 1.75rem;
}


section.packages ul.prize > li {
    font-size: 1.25rem;
    width: 17ch;
}

section.photos {
    padding: 2.5rem;
}


section.photos > h1.title {
    font-size: 3.25rem;
    width: 18ch;
    margin-inline: auto;
    text-align: center;
    color: var(--clr-neutral);
    padding-bottom: 2em;
}

section.photos > .container {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    align-items: flex-start;
    justify-content: center;
}

section.photos .container > img {
    width: 10rem;
}

section.photos .container .to-bottom {
    margin-top: auto;
}

section.photos .text-box {
    width: 40ch;
    display: grid;
    gap: 2em;
}



section.photos .text-box > .subtitle {
    font-size: 1.25rem;
    font-family: var(--ff-title);
}


section.contact > h1.title {
    font-size: 4rem;
    background-color: var(--clr-navbar-bg);
    color: var(--clr-section-bg);
    text-align: center;
    padding: .25em;
}

section.contact > .container {
    padding: 3em 2em;
    display: flex;
    font-size: 1.5em;
    justify-content: space-between;
    gap: 2em;
}


footer {
    padding: 1.25em;
    background-color: #00000010;
}

footer p {
    text-align: center;
    font-family: var(--ff-title);
}







@media (max-width: 1090px) {
    section.services > .services {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 810px) {
    ul.navigation {
        display: none;
    }
}

@media (max-width: 620px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 400px) {
    section.services > .services {
        grid-template-columns: 1fr;
    }
    section.services .service {
        margin-block-start: 0 !important;
    }
}